{% extends "navbar.html" %}
{% set active_page = "action" %}
{% block content %}
<body>
<main role="main" class="container">
    <p>Here you can connect to the session or group</p>
    <form action="" method="post">
        <div>{{ form.csrf_token }}</div>
        <h6>{{ form.str_id.label.text }}</h6>
        {{ form.str_id(class="form-control", style="max-width: 30vw") }}</br>
        {{ form.submit(type="submit", class="btn btn-primary", style="min-width: 75px") }}
    </form>
</main>
</body>
{% endblock %}
