{% extends "navbar.html" %}
{% block content %}
<head>
<body>

<main role="main" class="container">
    <form action="" method="post">
        <div>{{ form.csrf_token }}</div>
        <h6>{{ form.name.label.text }}</h6>
        <p>{{ form.name(class="form-control", style="max-width: 30vw") }}</p>
        {{ form.submit(type="submit", class="btn btn-primary", style="min-width: 75px") }}
    </form>
    <p></p>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete some object, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger"
       data-href="{{url_for('delete_group', id=group.id)}}"
       data-toggle="modal"
       data-target="#confirm-delete">Delete</a>
    <h5 align="center">Members</h5>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for i in members %}
        <tr onclick="window.location = '{{ url_for('profile', id=i.id) }}';">
            <td>{{ i.id }}</td>
            <td>{{ i.username }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5 align="center">Info</h5>
    <p>
        ID:
        {% if group.join_action %}
        {{ group.join_action_str_id }}
        {% else %} --- {% endif %}
    </p>
    <p><a href="/set_join_action_group/{{ group.id }}" class="btn btn-info">Reset ID</a></p>
    <p><a href="{{ url_for('select_user', return='/add_group_member?group_id='+group_id, group_id=group_id) }}"
          class="btn btn-warning">Add members</a></p>
</main>
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
</body>

{% endblock %}
