{% extends "navbar.html" %}
{% block content %}
<head>
<body>

<main role="main" class="container">
    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }}" role="alert">
        {{ msg }}
    </div>
    {% endfor %}
    <h5 align="center">Members</h5>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for i in members %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.username }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h5 align="center">Info</h5>
    <p>
        ID:
        {% if group.join_action %}
        {{ group.join_action_str_id }}
        {% else %} --- {% endif %}
    </p>
    <p><a href="/set_join_action_group/{{ group.id }}" class="btn btn-info">Reset ID</a></p>
    <p><a href="/select_users?return=/add_group_member?group_id={{ group_id }}&user_ids=" class="btn btn-warning">Add
        members</a></p>

</main>
</body>

{% endblock %}
