{% extends "base.html" %}
{% block base_content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signin.css')}}"/>
</head>

<body class="text-center">
<form class="form-signin" method="post">
    <div>{{ form.csrf_token }}</div>

    <img class="mb-4" src="{{url_for('static', filename='img/icon.png')}}">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }}" role="alert">
        {{ msg }}
    </div>
    {% endfor %}

    {{ form.username(id="input_username", class="form-control",
    placeholder=form.username.label.text) }}
    {{ form.password(id="input_password", class="form-control",
    placeholder=form.password.label.text, type="password", is_invalid=form.password.errors) }}

    {{ form.remember_me(class="form-check-input", type="checkbox", id="flexCheckDefault") }}
    <label class="form-check-label" for="flexCheckDefault">{{ form.remember_me.label }}</label></br></br>

    <p>{{ form.submit(class="btn btn-lg btn-primary", type="submit", style="min-width: 150px;") }}</p>
    <a href="{{ url_for('register') }}">New user? Register</a>
</form>
</body>

{% endblock %}
