{% include "base.html" %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img class="navbar-brand" src="{{ url_for('static', filename='img/icon.svg') }}"
             width="32" style="margin-left: 16px;">
        <a class="navbar-brand" href="#">Test system</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/status">Status</a></li>
                <li class="nav-item"><a class="nav-link" href="/problemset">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="/workplace">Workplace</a></li>
                <li class="nav-item"><a class="nav-link" href="/action">Action</a></li>
                <li class="nav-item"><a class="nav-link" href="/invites">Invites</a></li>
                {%- if current_user.has_rights_teacher() -%}
                <li class="nav-item" style="border-right: 2px solid #bbb;margin-left: 15px;margin-right: 15px;"></li>
                <li class="nav-item"><a class="nav-link" href="/add_problem">Add problem</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_session">Add session</a></li>
                <li class="nav-item"><a class="nav-link" href="/my_sessions">Sessions</a></li>
                <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
                <li class="nav-item"><a class="nav-link" href="/add_group">Add group</a></li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav" style="margin-right: 25px">
                    <li class="nav-item"><a class="nav-link" href="/server_state">Server state</a></li>
                    <li class="nav-item"><b><a class="nav-link" href="/profile/{{ current_user.id }}">{{ current_user.username.capitalize() }}</a></b></li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <p>{% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }}" role="alert">
        {{ msg }}
    </div>
    {% endfor %}
</div>
{% block content %}{% endblock %}
</body>