{% extends "navbar.html" %}
{% block content %}

<main role="main" class="container">
    <br>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/submit/{{ problem.id }}{%- for k, v in args.items() -%}?{{ k }}={{ v }}{% endfor %}"
                           role="button">Submit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <h4 align="center">#{{ problem.id }} {{ problem.name }}</h4>
    <div align="center">Time limit: {{ problem.time_limit }}</div>
    <div align="center">Memory limit: {{ problem.memory_limit }}</div>
    <br>
    {{ task | safe }}
</main>

{% endblock %}
