{% extends "navbar.html" %}
{% block content %}

<main role="main" class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/submit/{{ problem.id }}{%- for k, v in args.items() -%}?{{ k }}={{ v }}{% endfor %}"
                           role="button">Submit</a>
                    </li>
                    {% if edit %}
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/edit_problem/{{ problem.id }}"
                           role="button"><b>Edit</b></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <h5 align="center">#{{ problem.id }} <b>{{ problem.name }}</b>
        {%- if success_solution -%}<b>(solved)</b>{% endif %}</h5>
    <div align="center">Time limit: <b>{{ problem.get_time_limit() }}</b></div>
    <div align="center">Memory limit: <b>{{ problem.get_memory_limit() }}</b></div>
    {% if categories -%}
    <div>Categories: <b>{{ categories }}</b></div>
    {% endif %}
    <br>
    {{ task | safe }}
</main>

{% endblock %}
