{% extends "navbar.html" %}
{% block content %}
<head>
<body>

<main role="main" class="container">
    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }}" role="alert">
        {{ msg }}
    </div>
    {% endfor %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for i in groups %}
        <tr onclick="window.location = '{{ _return }}'+'&group_id='+{{ i.id }};">
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</body>
{% endblock %}
