{% extends "navbar.html" %}
{% block content %}
<head>
<body>

<main role="main" class="container">
    <br>
    <p>
        <input class="form-control" id="search_input" style="max-width: 30vw" value="{{ username }}">
    </p>
    <p>
        <button onclick="on_click()" class="btn btn-info">Search</button>
    </p>
    <div class="row">
        <div class="col-md-8">
            <h5>Search "{{ username }}":</h5>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for i in users %}
                <tr onclick="add_user({{ i.id }});">
                    <td>{{ i.id }}</td>
                    <td>{{ i.username }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6 col-md-4">
            <h5>Selected:</h5>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                {% for i in selected_users %}
                <tr onclick="remove_user({{ i.id }})">
                    <td>{{ i.id }}</td>
                    <td>{{ i.username }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>
        <button onclick="submit()" class="btn btn-primary" style="min-width: 75px">Select</button>
    </p>

</main>
<script>
    var _return = "{{ _return }}";
    var user_ids = "{{ user_ids }}";
    var username = "{{ username }}";

    var user_ids_list = user_ids.split(',');
    if (!user_ids_list[0]) user_ids_list.pop();

    function on_click() {
        var value = document.getElementById('search_input').value;
        if (value) {
            window.location = '/select_users?return=' + _return + '&user_ids=' + user_ids + '&username=' + value;
        }
    }
    function add_user(id) {
        user_ids_list.push(id.toString());
        window.location = '/select_users?return=' + _return + '&user_ids=' + user_ids_list.join(',') + '&username=' + username;
    }
    function remove_user(id) {
        const index = user_ids_list.indexOf(id.toString());
        if (index > -1) {
            user_ids_list.splice(index, 1);
        }
        window.location = '/select_users?return=' + _return + '&user_ids=' + user_ids_list.join(',') + '&username=' + username;
    }
    function submit() {
        window.location =  _return + '&user_ids=' + user_ids_list.join(',');
    }

</script>
</body>
{% endblock %}
