{% extends "navbar.html" %}
{% block content %}
<main role="main" class="container">
    {% if not session.started %}
    <p>Duration:<br>{{ session.duration.strftime('%H:%M:%S') }}</p>
    {% else %}
    <p>Time left:<br>
        <b><big>
            <span id="time_left{{ session.id }}"></span>
        </big></b></p>
    {% endif %}

    <h4 align="center">Session {{ session.name }}{% if session.started %} <b>(Started)</b>{% endif %}</h4>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a
                            class="nav-link active"
                            href="{{ url_for('session_problems', session_id=session_id) }}"
                            role="button">Problems</a></li>
                    <li class="nav-item"><a
                            class="nav-link active"
                            href="{{ url_for('session_status', session_id=session_id) }}"
                            role="button">Status</a></li>
                    <li class="nav-item"><a
                            class="nav-link active"
                            href="{{ url_for('session_results', session_id=session_id) }}"
                            role="button">Results</a></li>
                    <li class="nav-item"><a
                            class="nav-link active"
                            href="{{ url_for('session_members', session_id=session_id) }}"
                            role="button">Members</a></li>
                    <li class="nav-item"><a
                            class="nav-link active"
                            href="{{ url_for('session_info', session_id=session_id) }}"
                            role="button">Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {% block session_content %}{% endblock %}
</main>
<script>
    var timer = { {{session.id}}: {{session.get_time_left()}} };

</script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
{% endblock %}