{% extends "navbar.html" %}
{% block content %}

<main role="main" class="container">
    <h5>Problem: #{{ problem.id }} {{ problem.name }}</h5><br>
    {% if session_id %}
    <h6>From session: {{ session.name }}</h6><br>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <div>{{ form.csrf_token }}</div>

        <h6>{{ form.select.label.text }}</h6>
        <div style="max-width: 200px;">
            {{ form.select(class="form-select", aria_label="Default select example") }}
        </div>
        <br>
        <h6>Source code</h6>
        <div class="row">
            <div class="col-4" style="max-width: 200px;">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-profile-list"
                       data-bs-toggle="list"
                       href="#list-profile" role="tab" aria-controls="profile">File</a>
                    <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list"
                       href="#list-home" role="tab" aria-controls="home">Source code</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                         aria-labelledby="list-profile-list" style="height: 200px;">
                        {{ form.file(class="form-control", type="file", id="formFile") }}
                    </div>
                    <div class="tab-pane fade" id="list-home" role="tabpanel"
                         aria-labelledby="list-home-list" style="height: 200px;">
                        {{ form.text(class="form-control", placeholder=form.text.label.text,
                        style="font-family: 'Consolas';min-height: 300px;max-height: 50vh;" ) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form.submit(type="submit", class="btn btn-primary", style="min-width: 75px;") }}

    </form>
</main>

{% endblock %}
