{% extends "base.html" %}

{% block content %}
<br/>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <img src="{{url_for('static', filename='img/3.png')}}"
           alt="здесь должна была быть картинка, но не нашлась">
    <br/><br/>
    <h3>Аварийный доступ</h3>
    <br/>

    <h5>{{ form.username.label }}</h5>
    {{ form.username(class="form-control") }}<br>
    {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <h5>{{ form.password.label }}</h5>
    {{ form.password(class="form-control", type="password") }}<br>
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <h5>{{ form.username2.label }}</h5>
    {{ form.username2(class="form-control") }}<br>
    {% for error in form.username2.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <h5>{{ form.password2.label }}</h5>
    {{ form.password2(class="form-control", type="password") }}<br>
    {% for error in form.password2.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}


    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>



{% endblock %}